<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="tf-action-button.html">


<!--
tf-compressed-histogram-dashboard is a complete frontend that loads runs from a backend,
and creates chart panes that display data for those runs.

It provides a categorizer, run selector, and x type selector, by which the user
can customize how data is organized and displayed.

Each chart has a button that can toggle whether it is "selected"; selectedRuns
charts are larger.

Organizationally, the #plumbing div contains components that have no concrete
manifestation and just effect data bindings or data loading. The #sidebar contains
shared controls like the tf-categorizer, tf-run-selector, and tf-x-type-selector.
The #center div contains tf-charts embedded inside tf-collapsable-panes.
-->
<dom-module id="tf-actions-panel">
  <template>
    <style>
    :host {
      background: white;
      width: 100%;
      height: 64px;
      box-sizing: border-box;
      border-bottom: solid 1px rgba(0,0,0,0.1);
      box-shadow: 2px 1px 7px rgba(0,0,0,0.08);
    }
    .buttons {
      position: absolute;
      top: 12px;
      left: 20px;
    }
    .buttons .divider {
      float: left;
      border-left: solid 1px var(--paper-grey-300);
      margin: 0 18px 0 12px;
      height: 36px;
    }
    .buttons tf-action-button {
      margin-right: 12px;
      float: left;
    }
    .buttons paper-fab ::content > iron-icon {
      color: black;
    }

    input {
      width: 300px;
      height: 24px;
      font-size: 24px;
      position: relative;
    }

    .fabs {
      position: absolute;
      top: 43px;
      right: 24px;
      z-index: 100;
    }

    .fabs paper-fab {
      --paper-fab-background: white;
      --paper-fab-keyboard-focus-background: var(--paper-grey-200, #eee);
      float: left;
      margin-left: 10px;
      @apply(--shadow-elevation-0dp);
    }

    .fabs paper-fab ::content > iron-icon {
      color: black;
    }
    </style>

    <div class="buttons">
      <tf-action-button id="search">
        <iron-icon icon="search"></iron-icon>
        <input type="search" id="searchInput"></input>
      </tf-action-button>
      <div class="divider"></div>
      <tf-action-button id="offset"><iron-icon icon="line-weight"></iron-icon> Offset</tf-action-button>
      <tf-action-button id="overlay"><iron-icon icon="timeline"></iron-icon> Overlay</tf-action-button>
      <div class="divider"></div>
      <tf-action-button id="wall"><iron-icon icon="schedule"></iron-icon> Wall</tf-action-button>
      <tf-action-button id="index"><iron-icon icon="schedule"></iron-icon> Index</tf-action-button>
      <tf-action-button id="step"><iron-icon icon="schedule"></iron-icon> Steps</tf-action-button>

    </div>

    <div class="fabs">
      <paper-fab mini noink raised icon="add" title="Zoom In" id="in"></paper-fab>
      <paper-fab mini noink icon="remove" title="Zoom Out" id="out"></paper-fab>
    </div>

  </template>
  <script>
    Polymer({
      is: "tf-actions-panel",
      properties: {},
      listeners: {
        "offset.tap": "onoffset",
        "overlay.tap": "onoverlay",
        "wall.tap": "onwall",
        "index.tap": "onindex",
        "step.tap": "onstep",
        "in.tap": "onin",
        "out.tap": "onout",
        "searchInput.input": "onsearch"
      },
      ready: function() {},
      onoffset: function(e) { this.fire("modechange", {value: "offset"}); },
      onoverlay: function(e) { this.fire("modechange", {value: "overlay"}); },
      onindex: function(e) { this.fire("timechange", {value: "i"}); },
      onwall: function(e) { this.fire("timechange", {value: "wall"}); },
      onstep: function(e) { this.fire("timechange", {value: "step"}); },
      onin: function(e) { this.fire("zoomchange", {value: "in"}); },
      onout: function(e) { this.fire("zoomchange", {value: "out"}); },
      onsearch: function(e) {
        this.fire("searchchange", {value: this.$.searchInput.value});
      }
    });
  </script>
</dom-module>
