<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icon/iron-icon.html">

<dom-module id="tf-action-button">

  <template>

    <style is="custom-style">
      :host {
        display: inline-block;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 13px;
        color: var(--paper-grey-500);
        cursor: pointer;
        padding: 6px;
        height: 36px;
        line-height: 26px;
      }
      :host ::content iron-icon {
        margin-right: 10px;
        float: left;
      }
      }
    </style>

    <div>
      <content></content>
    </div>

  </template>

  <script>
  Polymer({
    is: "tf-action-button"
  });
  </script>

</dom-module>
