<!DOCTYPE html>
<html>
  <head>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../tf-tensorboard.html">
    <link rel="stylesheet" type="text/css" href="../../../lib/css/global.css">
    <script src="../../../lib/js/backend/urlPathHelpers.js"></script>
    <title>TensorBoard Demo</title>
  </head>
  <body>
    <base href="/">
    <dom-module id="x-demo">
      <template>
        <tf-tensorboard
          id="demo"
          router="[[demoRouter]]">
        </tf-tensorboard>
      </template>
      <script>

        var dataDir = "components/tf-tensorboard/demo/giant_data/";
        function url(route, params) {
          var q = TF.Backend.UrlPathHelpers.queryEncoder(params);
          var target = TF.Backend.UrlPathHelpers.clean(route + q);
          var url = dataDir + target;
          return url;
        }
        var demoRouter = {
          runs: function() {
            return url("runs")
          },
          graph: function(run) {
            return url("graph", {run: run});
          },
          scalars: function(tag, run) {
            return url("scalars", {tag: tag, run: run});
          },
          histograms: function(tag, run) {
            return url("histograms", {tag: tag, run: run});
          },
          compressedHistograms: function(tag, run) {
            return url("compressedHistograms", {tag: tag, run: run});
          },
        };
        Polymer({
          is: "x-demo",
          properties: {
            demoRouter: {
              type: Object,
              value: demoRouter,
            },
          },
        });
      </script>
    </dom-module>
    <x-demo></x-demo>
  </body>
</html>
